body {
    background: #111;
    color: white;
    font-family: Arial;
}

.card {
    max-width: 450px;
    margin: auto;
    padding: 20px;
}

input,
select,
button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border-radius: 12px;
}

button {
    cursor: pointer;
}